@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home">
    <div class="overlay"></div>
    <h1 class="home-text homepage">Welcome To Warehouse and Purchases management system</h1>
</div>
